cloud_id          = "..."
folder_id         = "..."
zone              = "ru-central1-a"
public_key_path   = "~/.ssh/cloud.pub"
subnet_id         = "..."
private_key_path  = "~/.ssh/cloud"
zone_app          = "ru-central1-a"
k8s_version       = "1.27"
v4_cidr           = "10.0.0.0/16"
k8s_sa_account_id = "..."
ssh_username      = "ubuntu"
ssh_key_file      = "~/.ssh/cloud.pub"
mongodb_image_id  = "..."
gitlab_domain     = "gitlab.geckzone.ru."
service_account_key_file = "..."